/* ------ GENERAL -------- */
:root {
    font-size: 22px;
    --cardbg: red;
    --mainbg: wheat;
    --sidebg: blue;
    --bg: yellow;
}

#content {
  display: flex;
  margin-top: 2em;
  height: 100vh;
  width: 100vw;
}

/* ------ SIDEBAR -------- */

.rs-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    background-color: aliceblue;
    margin-left: 1em;
}

.rs-sidebar-button {
  margin-bottom: 1em;
}



/* ------ MAIN -------- */

.rs-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: wheat;
    padding: 0em 3em 0em 3em;
}

/* ------ MAIN HOME -------- */

.rs-main-home {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  justify-content: center;
  align-items: center;
}

.home-title {
  margin-bottom: 2em;
  text-align: center;
}

.home-title-para {
  font-size: 2em;
}

.home-sales-info {
  width: 50%;
  margin-bottom: 2em;
}

.home-sales {
  width: 50%;
  display: flex;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1em;
}

.sales-card {
  border: 2px solid black;
  border-radius: 25px;
  padding: 1em 1em 1em 1em;
  background-color: var(--cardbg)
}

/* ------ ABOUT HOME -------- */

.rs-about-title {
  margin-bottom: 3em;
  font-size: 2em;
}

/* ------ CONTACT HOME -------- */

.rs-contact-para {
  margin-bottom: 3em;
}